<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">

    <Appenders>
        <Console name="STDOUT">
            <PatternLayout charset="UTF-8" >
                <pattern>%d{ISO8601}{GMT+8} %highlight{%p} %style{%c{1.} [%t] %X{X-B3-TraceId} %m}{bold,green}%n</pattern>
            </PatternLayout>
        </Console>
    </Appenders>
    <!-- levelactiveProfile{env:LOGGING_LEVEL_:-DEBUG}" will override spring-boot's logging.level.${loggerName}: ${logLevel} -->
    <Loggers>
        <Root includeLocation="false" level="info" >
            <AppenderRef ref="STDOUT"/>
        </Root>
    </Loggers>
</Configuration>
